.wrapper .body{
  background: var(--d_green);
}

section.main{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr .9fr .4fr;
  gap: 1rem;
  padding: 1rem;
}

section.main > div{
  width: 100%;
  border: 1px solid black;
}

/* ------------Row 1------------- */
.row_1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* .row_1 > div{border: 1px solid black;} */
.row_1 .sack{
  display: flex;
}
.row_1 .sack .ball_cards{
  width: 100%;
  height: 100%;
  position: relative;
}
.row_1 .sack .ball_cards .card{
  width: 90px;
  height: 120px;
  position: absolute;
  top: 25px;
  border-radius: .5rem;
}
.row_1 .sack .ball_cards .card{
  right: 75px;
}
.row_1 .sack:nth-child(1) .ball_cards .card{
  left: 75px;
}

.row_1 .play_area{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.row_1 .play_area .card{
  width: 125px;
  height: 165px;
  border-radius: .5rem;
  background: var(--d_white);
}
.row_1 .play_area .card.empty{
 background: black; 
}
.row_1 .play_area .card.empty > *{
  display: none;
}
/* ------------Row 1------------- */
/* ------------Row 2------------- */
.row_2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.row_2 .card{
  width: 125px;
  height: 165px;
  background: var(--d_white);
  border-radius: .5rem;
}

/* ------------Row 2------------- */
/* ------------Row 3------------- */
.row_3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.row_3 a{
  padding: .5rem 1rem;
  background: var(--d_white);
  border-radius: .7rem;
  border: none;
}
.row_3 a:hover,
.row_3 a:focus{
  background: var(--l_white);
  cursor: pointer
}
/* ------------Row 3------------- */

/* ------------Cards------------- */
.card{
  display: flex;
  flex-direction: column;
}
.card > div{
  width: 100%;
}
.card .desc{
  font-size: 3rem;
  padding: 0 1rem;
}
.card .suit{
  display: grid;
  place-items: center;
}
.card .suit img{
  align-self: center;
  width: 75px;
  
}
.card.red{
  color: var(--error);
}
.card.black{
  color: var(--d_black);
}
/* ------------Cards------------- */
/* ----------Ball Cards---------- */
.ball_cards .card
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  font-size: 1.5rem;
  padding: 0 .5rem;
  background: var(--d_white);
  transition: transform 350ms ease-in-out;
  border: 1px solid black
}

.ball_cards  .card.back{ background: var(--d_white); }
.ball_cards:is([data-score="0"], [data-score="1"], [data-score="2"], [data-score="3"], [data-score="4"], [data-score="5"]) .card.front{
  background: var(--purple);
  background: radial-gradient(circle, var(--purple) 0%, rgba(25,25,25,1) 13%, var(--purple) 23%, rgba(25,25,25,1) 33%, var(--purple) 43%, rgba(25,25,25,1) 53%, var(--purple) 63%, rgba(25,25,25,1) 73%, var(--purple) 83%, rgba(25,25,25,1) 93%);
} 
.ball_cards:is([data-score="0"], [data-score="1"], [data-score="2"], [data-score="3"], [data-score="4"], [data-score="5"]) .card.front p{
  display: none;
}


.ball_cards:is([data-score="1"], [data-score="7"]) .card.front{ transform: rotate(45deg) translateY(0) translateX(15px); }

.ball_cards:is([data-score="2"], [data-score="8"]) .card.front{ transform: rotate(0) translateY(45px) translateX(0); }

.ball_cards:is([data-score="3"], [data-score="9"]) .card.front{ transform: rotate(0) translateY(0) translateX(50px); }
.ball_cards:is([data-score="4"], [data-score="10"]) .card.front{ transform: rotate(0) translateY(80px) translateX(0); }
.ball_cards:is([data-score="5"], [data-score="11"]) .card.front{ transform: rotate(0) translateY(80px) translateX(50px); }
.ball_cards.primary:is([data-score="12"]) .card.front{ transform: rotate(0) translateY(0) translateX(105%); }
.ball_cards.secondary:is([data-score="12"]) .card.front{ transform: rotate(0) translateY(0) translateX(-105%); }



.ball_cards .card.red{ color: var(--error); }
.ball_cards .card.black{ color: var(--d_black); }
/* ----------Ball Cards---------- */
/* --------Loading Screen-------- */

.loading{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--l_black);
  z-index: 99;
  display: none;
}

.loading.show{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.loading img{
  position: absolute;
  top: 10%;
  width: 500px;
}

.loading .message{
  position: absolute;
  font-size: 2rem;
  color: #e8e8e8;
  text-transform: uppercase;
}
