.wrapper .body
{
  display: flex;
  padding: 1rem;
}

.wrapper .body > section
{
  height: 99%;
}

section.main
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  width: calc(100% - 400px);
}

section.side
{
  width: 400px;
}

section.main .card
{
  height: 350px;
  border: 2px solid var(--d_black);
  display: flex;
  flex-direction: column;
}

.card.players
{
  width: 400px;
}

.card.teams
{
  width: calc(100% - 400px);
  width: 700px;
}

.card .card_header
{
  width: 100%;
  height: 50px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--d_black);
  color: var(--purple);
}


.card .card_header a.btn_start_game,
.card .card_header a.btn_reset_teams
{
  outline: 1px solid var(--purple);
  outline-offset: -15px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.card .card_header a.btn_start_game:hover,
.card .card_header a.btn_reset_teams:hover
{
  outline-offset: 5px;
}

.card.players table
{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.card.players table tr
{
  height: 75px;
  width: 100%;
}
.card.players table tr.ready
{
  color: var(--purple);
  border-bottom: 2px solid var(--purple);
}
.card.players table tr.ready .fa-spinner
{
  display: none;
}
.card.players table tr.waiting
{
  color: var(--l_white);
  border-bottom: 2px solid var(--l_white);
}
.card.players table tr.waiting .fa-check
{
  display: none;
  color: var(--l_purple);
}
.card.players table tr td
{
  padding: 0 30px;
  font-size: 1.1rem;
}
.card.players table tr td:first-child
{
  width: 75%;
}

.card table i.fa-spinner
{
  animation: rotate 800ms linear infinite;
}

.card.teams table
{
  table-layout: fixed;
  width: 100%;
}
.card.teams table tr
{
  height: 75px;
}
.card.teams table td
{
  text-align: center;
  color: var(--l_white);
}
.card.teams table th
{
  text-align: center;
  color: var(--purple);
}
.card.teams input[type=checkbox] { display: none; }
.card.teams i
{
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--l_white);
}
.card.teams table tr td i:hover { color: var(--d_white); }
.card.teams input[type=checkbox]:checked ~ i { color: var(--purple); }
.card.teams td.player_name { text-transform: capitalize; }

@keyframes rotate
{
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}

.card.teams
{
  position: relative;
}

.overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--l_white);
  opacity: 0.4;
}

.card.teams.non_admin .card_header a
{
  display: none;
}

.card.teams.non_admin table
{
  border-collapse: collapse;
}

.card.teams.non_admin table tr
{
  border-bottom: 2px solid white;
}

/* ==================================Styles for chat================================== */
.message_wrapper
{
  border: 1px solid var(--purple);
  width: 400px;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message_wrapper .messages
{
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.message
{
  padding: 10px 20px;
  margin: .5rem 0;
  width: 100%;
}

.message.from
{
  background: var(--l_white);
  color: var(--l_black);
  border-radius: 15px 15px 0 15px;
}

.message.to
{
  background: var(--purple);
  color: var(--l_white);
  border-radius: 15px 15px 15px 0;
}

.message.admin
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.message.admin p
{
  padding: .3rem 1rem;
  border: 2px solid var(--purple);
  color: var(--purple);
  border-radius: 20px;
  user-select: none;
}



.message .m_header
{
  font-weight: 600;
  text-transform: capitalize;

}

.message .m_body
{
  font-weight: 500;
  text-transform: capitalize;

}

.message_wrapper .text
{
  width: 100%;
  height: 50px;
  display: flex;
  /* gap: .3rem; */
}

.message_wrapper .text input
{
  padding: 0 .5rem 0 1rem;
  background: none;
  border: 1px solid var(--purple);
  color: var(--l_white);
}

.message_wrapper .text button
{
  width: 100px;
  background: var(--purple);
  color: var(--l_white);
  border: none;
  cursor: pointer;
  transition: 600ms ease-in-out;
}

.message_wrapper .text button:focus,
.message_wrapper .text button:hover
{
  color: black;
  /* background: var(--l_purple); */
}

@media screen and (max-width: 1080px){
  .wrapper { background: rgb(45, 100, 107)}
  
  section.main { 
    flex-direction: column; 
  }
  section.main .card{
    width: 100%;
    height: unset;
    min-height: 20%;
  }

} 

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 
*/